*.js
#do not ignore lambda
!lambda/*.js
!jest.config.js
node_modules
jspm_packages/

# CDK asset staging directory
.cdk.staging
cdk.out
lambda-layers
# CDK remove js files 
bin/*.js
lib/*.js
bin/*.d.ts
lib/*.d.ts

### OSX ###
# General
.DS_Store
.AppleDouble
.LSOverride

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
